<div class="block">        
  <h2 class="title">Stock Exchanges</h2>
    <table class="table">
        <% @stock_exchanges.each do |stock_exchange| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to stock_exchange.name, stock_exchanges_path(stock_exchange) %>
          </td>
          <td class="last">
            
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
