<div class="block">
  <table class="table">
    <thead>
        <tr></tr>
        <tr>
          <th>Stock</th>
          <th>Sector</th>
        </tr>
      </thead>
    <% @stocks.each do |stock| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= stock.name %></td>
        <td><%= stock.category_id %></td>
        <td class="last">    
        </td>
      </tr>          
    <% end -%>
  </table>
</div>
